<style>
html {
        width: 300px;
}

body {
        height: 100%;
}

/*The actual picture...HOW DO WE CENTER IT?!?!*/
img {
        max-width: 95%;
        max-height: 300px;
        overflow: hidden;
        padding: 2px;
        border: 10px;
        border-style: solid;
        border-color: #960;
}

/*Border*/
#image {
        

}

/*Background color & font*/
body {
        background: #eee;
        padding: 0px;
        font-family: "Georgia", "Times New Roman", serif;
}

/*Header ("iM8")*/
h1 {
        text-align: center;
        font-size: 60px;
        font-weight: bold;
        text-shadow: 3px 3px #a9a9a9;
}

/*Centering the pirate's name (link) */
a.center {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        
}

/*Font size and color to pirate's name*/
#name {
        text-align: center;
        font-size: 50px;
        font-variant: small-caps;
        color: #900;
        text-decoration: underline;
}


/*Centering and italicizing the pirate's bio*/
#description {
        text-align: center;
        font-style: italic;

}

/*Right side button ("i'd M8 with u")*/
button.right{
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 100px;
        height:50px;
}

/*Left side button ("avast ye m8-y")*/
button.left{
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: 100px;
        height: 50px;
}




</style>