<style>
html {
<<<<<<< HEAD
        width: 300px;
=======
}
body {
	height: 100%;
}
img {
	max-width: 100%;
	max-height: 79%;
	overflow: hidden;
>>>>>>> minghorn/master
}

body {
        background: #eee;
        padding: 15px;
        font-family: "Georgia", "Times New Roman", serif;
}

h1 {
        text-align: center;
        font-size: 40px;
        font-style: bold;
}

a {
        
        color: #900;
}

#description {
        text-align: center;
        font-style: italic;
}

#name {
        text-align: center;
        font-size: 50px;
        font-variant: small-caps;
}

#image {
        vertical-align: center;
}
<<<<<<< HEAD

=======
button {
	position: relative;
}
>>>>>>> minghorn/master
</style>