<style>
html {
<<<<<<< HEAD
        width: 300px;
=======
}
body {
	height: 100%;
}
img {
	max-width: 100%;
	max-height: 79%;
	overflow: hidden;
>>>>>>> minghorn/master
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

body {
        background: #eee;
        padding: 15px;
        font-family: "Georgia", "Times New Roman", serif;
}

h1 {
        text-align: center;
        font-size: 40px;
        font-style: bold;
}

a.center {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        
}

#description {
        text-align: center;
        font-style: italic;

}

#name {
        text-align: center;
        font-size: 50px;
        font-variant: small-caps;
        color: #900;
        text-decoration: underline;
}

#image {
        vertical-align: center;
}

button.right{
        float: right;
        width: 90px;
        height:40px;
}

button.left{
        float: left;
        width: 90px;
        height:40px;
}
<<<<<<< HEAD

=======
button {
	position: relative;
}
>>>>>>> minghorn/master
</style>